.App {
    margin: auto;
    width: 800px;
    font-family: "Cambria", sans-serif;
}

.header {
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-size: 18px;
}

.post:hover {
    background-color: aliceblue;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
}

.btn {
    border-radius: 7px;
    background-color: white;
    margin-bottom: 7px;
    margin-left: 15px;

}

.check {
    zoom: 1.5;
    margin-left: 15px;
}

.user-email{
    color: gray;
    font-weight: normal;
}
