.App {
    margin: auto;
    width: 800px;
    font-family: "Cambria", sans-serif;
}
.header {
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.post {
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    font-size: 18px;
}
.post-title {
    font-size: 20px;
    font-weight: bold;
}
.btn {
    border-radius: 7px;
    background-color: white;
    width: 47px;
    height: 47px;
    margin-right: 15px;
    margin-bottom: 20px;
    font-size: 5px;
}
.btn-add {
    border-radius: 7px;
    padding: 5px 15px;
}
.user-email{
    color: gray;
    font-weight: normal;
}
